@model RestauranteMexicano.Models.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
}

<div class="animated animatedFadeInUp fadeInUp">
    <div class="tabela">
        <br>
        <div class="primeira">
            <img src="~/Content/imagens/rush-8.png" width="100%" height="100%" />
        </div>
        <div class="segunda">
            <h2>Registre-se</h2> <br /> <br />
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                <input type="submit" value="Cadastrar" class="button" function />

                @Html.ActionLink("Visualizar todos", "Index")

                @section Scripts{
                    @Scripts.Render("~/bundles/jqueryval")
                }

            }
        </div>
    </div>
</div>