@model RestauranteMexicano.Areas.RH.Models.Funcionario

@{
    ViewBag.Title = "Details";
}

<div class="animated animatedFadeInUp fadeInUp">
    <div class="tabela">
        <br>
        <div class="primeira">
            <!-- <a href='https://www.freepik.com/vectors/food'>Food vector created by freepik - www.freepik.com</a> -->
            <img src="~/Content/imagens/chef.jpg" width="100%" height="100%" />
        </div>
        <div class="segunda">
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()


                @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                @Html.LabelFor(model => model.cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                @Html.LabelFor(model => model.dataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.dataNascimento, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })



                @Html.LabelFor(model => model.sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.sexo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                @Html.LabelFor(model => model.idCargo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.idCargo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                @Html.ActionLink("Voltar", "Index")

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            }
        </div>
    </div>
</div>
