@model RestauranteMexicano.Areas.Vendas.Models.Reserva

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated animatedFadeInUp fadeInUp">
    <div class="tabela">
        <br>
        <div class="primeira">
            <img src="~/Content/imagens/reservas.jpg" width="100%" height="100%" />
        </div>
        <div class="segunda">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.LabelFor(model => model.idMesa, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.idMesa, new { htmlAttributes = new { @class = "form-control" } })

                @Html.LabelFor(model => model.quantidadeCadeiras, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.quantidadeCadeiras, new { htmlAttributes = new { @class = "form-control" } })

                @Html.LabelFor(model => model.dataReserva, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.dataReserva, new { htmlAttributes = new { @class = "form-control" } })

                @Html.LabelFor(model => model.hora, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control" } })

                @Html.LabelFor(model => model.idContato, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.idContato, new { htmlAttributes = new { @class = "form-control" } })

                <input type="submit" value="Cadastrar" class="button" function />

                @Html.ActionLink("Visualizar todos", "Index")

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            }
        </div>
    </div>
</div>
